.form-container{
    margin: 50px 0 60px 0;
    border-radius: 3px;
    padding: 30px;
    -webkit-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.75);
    
    form{
        padding: 15px;

        .form-section1,
        .form-section2,
        .form-section3,
        .form-section4{
            padding: 15px;
            border: 1px solid #D5D8DC;
            margin: 25px 0;
        }
    }

    .button-container{
        text-align: center;

        button{
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .message-container{
        margin-top: 30px;
        padding: 15px 0 15px 20px;
        background-color: grey;
        border-radius: 4px;

        p{
            margin-bottom: 0;
        }

        &.hidden{
            display: none;
        }       
    }

    .msg-success{
        background-color: #7DCEA0
    }

    .msg-error{
        background-color: #E74C3C; 

    }
}

.link-container{
    margin-bottom: 50px;
}