<div class="executives-container">
  <div class="row">
    <div class="col">
      <div class="title-container">
        <h2>Lista de Ejecutivos</h2>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="table-container">
  <div class="row">
    <div class="col col-lg-6 offset-lg-3">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let executive of executives;">
              <td>{{executive.email}}</td>
              <td>{{executive.roles[0].name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
